In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Series

In [3]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

ser1 = ser1 * 2
ser1

A    0
B    2
C    4
dtype: int32

In [4]:
# Select itemt by name index
ser1['B']

2

In [5]:
# Select itemt by numeric index
ser1[1]

2

In [6]:
# Get a range of the index
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [7]:
# Get a range by passing a list of index
ser1[['A', 'B']]

A    0
B    2
dtype: int32

In [8]:
# By condition
ser1[ser1>3]

C    4
dtype: int32

In [10]:
# By condition and assign value
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
dtype: int32

### DataFrame

In [12]:
df = DataFrame(np.arange(25).reshape((5,5)), index=['A','B','C','D','E'],
               columns=['Q','W','Z','X','V'])
df

    Q   W   Z   X   V
A   0   1   2   3   4
B   5   6   7   8   9
C  10  11  12  13  14
D  15  16  17  18  19
E  20  21  22  23  24

In [14]:
# Get the column
df['Q']

A     0
B     5
C    10
D    15
E    20
Name: Q, dtype: int32

In [16]:
# Get the columns by list
df[['Q', 'W']]

    Q   W
A   0   1
B   5   6
C  10  11
D  15  16
E  20  21

In [17]:
# By condition -> Get rows
df[df['Q']>10]

    Q   W   Z   X   V
D  15  16  17  18  19
E  20  21  22  23  24

In [18]:
# Get a boolean dataframe
df > 10

       Q      W      Z      X      V
A  False  False  False  False  False
B  False  False  False  False  False
C  False   True   True   True   True
D   True   True   True   True   True
E   True   True   True   True   True

In [19]:
# Use .loc[] to label name index
df.loc['B']

Q    5
W    6
Z    7
X    8
V    9
Name: B, dtype: int32

In [24]:
# Use .iloc[] to label numeric index
df.iloc[1]

Q    5
W    6
Z    7
X    8
V    9
Name: B, dtype: int32