In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Demo how to find outliers

## Create data set

In [2]:
np.random.seed(12345)

In [3]:
# 1000 rows by 4 columns
dframe = DataFrame(np.random.randn(1000,4))
dframe.head()

          0         1         2         3
0  0.646906 -0.099818 -0.745535  2.627467
1  0.199545 -1.095892 -1.358437 -1.300994
2  0.111270  0.162986 -1.549046 -1.096824
3  0.991364  0.401552 -0.181010 -1.986585
4 -0.019402 -0.219749 -2.478818 -0.322940

In [4]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.042307    -0.046766     0.004165     0.021351
std       0.985104     1.033235     1.023810     0.981421
min      -2.790457    -3.675507    -3.837220    -3.500099
25%      -0.657340    -0.717354    -0.714745    -0.610107
50%       0.013098    -0.059470     0.039100     0.104032
75%       0.729759     0.634650     0.690387     0.659440
max       2.944046     3.769987     3.038901     2.876633

In [5]:
col = dframe[0]
col.head()

0    0.646906
1    0.199545
2    0.111270
3    0.991364
4   -0.019402
Name: 0, dtype: float64

In [8]:
# show all rows in the first column that its value is greater than 2.5
col[np.abs(col)>2.5]

111    2.735887
127    2.763389
227   -2.790457
418   -2.654119
593   -2.701033
761    2.944046
906   -2.628270
Name: 0, dtype: float64

In [10]:
# Return the rows with any column that is > 3
dframe[(np.abs(dframe)>3).any(1)]

            0         1         2         3
51  -0.712040  3.136649 -1.086084  0.343163
233  0.499891  3.769987  1.443792  0.147634
278 -0.174217  0.128474  3.038901  0.873414
444  0.289697  0.645383  0.419148 -3.319897
515 -0.252174 -0.404480 -3.192893  0.275585
533 -0.258248  0.641230 -3.736891 -1.284260
641  0.494711  3.028577  0.631553 -1.017662
686  1.596507  3.697942  1.189121  1.426555
785 -0.223658  1.084236 -0.030379 -3.500099
801 -0.668515 -0.522832 -3.837220 -1.413805
974 -0.212113 -3.675507  0.697177  0.659185

In [11]:
# Normalize the value to be +3 or -3
dframe[np.abs(dframe)>3] = np.sign(dframe)*3

In [12]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.042307    -0.047724     0.005893     0.022171
std       0.985104     1.025700     1.017861     0.978711
min      -2.790457    -3.000000    -3.000000    -3.000000
25%      -0.657340    -0.717354    -0.714745    -0.610107
50%       0.013098    -0.059470     0.039100     0.104032
75%       0.729759     0.634650     0.690387     0.659440
max       2.944046     3.000000     3.000000     2.876633