In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Series: values with index
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
# Change the index of the series
obj1 = Series([1000, 2000, 3000, 4000], index = ['China', 'Germany', 'Japan', 'USA'])
obj1['Germany']

2000

In [19]:
''' Check elements with condition '''
obj1[obj1 > 2500]

Japan    3000
USA      4000
dtype: int64

In [20]:
''' Check if the key exist '''
'Third' in obj1

False

In [21]:
''' Convert Series into dictionary '''
obj1_dic = obj1.to_dict()
obj1_dic

{'China': 1000, 'Germany': 2000, 'Japan': 3000, 'USA': 4000}

In [22]:
# Series can use dictionary as input
Series(obj1_dic)

China      1000
Germany    2000
Japan      3000
USA        4000
dtype: int64

In [23]:
# Use list as index
# The index that has no value in the list, it will become NaN
countries = ['China', 'Germany', 'Japan', 'USA', 'Argentina']
obj2 = Series(obj1, index = countries)
obj2

China        1000.0
Germany      2000.0
Japan        3000.0
USA          4000.0
Argentina       NaN
dtype: float64

In [24]:
# Check null
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
Argentina     True
dtype: bool

In [25]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
Argentina    False
dtype: bool

In [26]:
# DEMO sum
obj1 + obj2

Argentina       NaN
China        2000.0
Germany      4000.0
Japan        6000.0
USA          8000.0
dtype: float64

In [27]:
# Setup name of series
obj2.name = "Demo country series"
obj2

China        1000.0
Germany      2000.0
Japan        3000.0
USA          4000.0
Argentina       NaN
Name: Demo country series, dtype: float64

In [28]:
# Set label to the index
obj2.index.name = "Countries"
obj2

Countries
China        1000.0
Germany      2000.0
Japan        3000.0
USA          4000.0
Argentina       NaN
Name: Demo country series, dtype: float64