In [2]:
import numpy as np

In [3]:
myList1 = [1,2,3,4]

In [5]:
myArray1 = np.array(myList1)

In [6]:
# print out my array
myArray1

array([1, 2, 3, 4])

In [13]:
myList2 = [11,22,33,44]
myLists = [myList1, myList2]
myArray2 = np.array(myLists)
# print out my array
myArray2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [9]:
my_zeros_array = np.zeros(5)

In [10]:
my_zeros_array.dtype

dtype('float64')

In [11]:
np.ones([5,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [12]:
np.empty(5)

array([  2.17388884e-322,   1.97047362e-317,   3.15275779e-316,
         3.31023983e-322,   2.13959160e-316])

In [14]:
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [17]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [21]:
np.arange(5).dtype

dtype('int32')

In [22]:
np.arange(5, 50, 2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])