In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## pd.read_csv('path_to_file_name')

In [3]:
dframe = pd.read_csv('lecture25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [5]:
dframe = pd.read_csv('lecture25.csv',header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

## pd.read_table('path_to_file_name'): a generic way to read file

In [6]:
dframe = pd.read_table('lecture25.csv', sep=',', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
# Only read the first two rows
pd.read_csv('lecture25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

## .csv('path_to_file_name'): save to csv file

In [8]:
dframe.to_csv('lecture25_out.csv')

## sep='any_delimiter': change the delimiter

In [9]:
import sys
# DEMO: use sys.stdout to show the output
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [10]:
# DEMO the delimiter
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [11]:
# Store the first three columns
dframe.to_csv(sys.stdout, columns=[0, 1, 2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5