In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser = Series(randn(6), index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.593726
   b   -0.375030
   c    0.563011
2  a   -1.405269
   b    1.318363
   c   -0.126782
dtype: float64

In [5]:
# Level
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    0.593726
b   -0.375030
c    0.563011
dtype: float64

In [7]:
ser[2]

a   -1.405269
b    1.318363
c   -0.126782
dtype: float64

In [8]:
# every column with 'a'
ser[:,'a']

1    0.593726
2   -1.405269
dtype: float64

In [10]:
dframe = ser.unstack()
dframe

          a         b         c
1  0.593726 -0.375030  0.563011
2 -1.405269  1.318363 -0.126782

In [11]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','cold','hot']])
dframe2

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [12]:
dframe2.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [13]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY       LA  SF
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [14]:
dframe2.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['INDEX_1', 'INDEX_2'])

In [15]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot cold hot
Cities            NY  NY   LA  SF
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [19]:
# specify the index of the sub-level(level=1, means INDEX_2)
dframe2.sort_index(level=1)

Cities            NY       LA  SF
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
b       1          8   9   10  11
a       2          4   5    6   7
b       2         12  13   14  15

In [20]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28